@debug-step
Feature: One step for debugging purposes

#  @db-connection-debug-step
#  Scenario: One step for debugging validation of results.
#
#    Then validate that all todos with task "Joe" have value completed "1", period in ms: "5000"

#  @db-connection-sf-debug-step
#  Scenario: One step for debugging validation of results.
#
#    And validate DB created new lead with first name: "Karol1", last name: "Stieranka1", email: "k1stieranka1@istrochem.sk"

  @db-connection-debug-step
  Scenario: One step for debugging validation of results.

    Then validate that number of all todos with task "Joe" is "0", period in ms: "5000"
